[Desktop Entry]
Type=Application
Exec=/bin/retroarch-mini null
Path=/var/saves/CLV-Z-RALAUNCHER
Name=RetroArch
Icon=/var/games/CLV-Z-RALAUNCHER/CLV-Z-RALAUNCHER.png

[X-CLOVER Game]
Code=CLV-Z-RALAUNCHER
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=2018-01-01
SaveCount=0
SortRawTitle=retroarch
SortRawPublisher=LIBRETRO
Copyright=Hakchi Resources
